@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans), var(--font-bn), ui-sans-serif, system-ui, sans-serif;
  --font-bn: var(--font-bn), ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  font-family: var(--font-sans);
}

@media print {
  .no-print {
    display: none !important;
  }
}
